.header-heading{
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    font-family: cursive;
}

.secondary-headding{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: monospace;
}